
<script>document.getElementsByTagName("html")[0].className += " js";</script>

<div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg
js-cd-schedule">
<div class="cd-schedule__timeline">
<ul>
<li><span>09:00</span></li>
<li><span>09:30</span></li>
<li><span>10:00</span></li>
<li><span>10:30</span></li>
<li><span>11:00</span></li>
<li><span>11:30</span></li>
<li><span>12:00</span></li>
<li><span>12:30</span></li>
<li><span>13:00</span></li>
<li><span>13:30</span></li>
<li><span>14:00</span></li>
<li><span>14:30</span></li>
<li><span>15:00</span></li>
<li><span>15:30</span></li>
<li><span>16:00</span></li>
<li><span>16:30</span></li>
<li><span>17:00</span></li>
<li><span>17:30</span></li>
<li><span>18:00</span></li>
</ul>
</div> <!-- .cd-schedule__timeline -->

<div class="cd-schedule__events">
<ul style="padding-left: 20px;">

<li class="cd-schedule__group">
<div class="cd-schedule__top-info"><span style="font-weight:
bold;">Tuesday, April 9 (Hart House)</span></div>

<ul>
<li class="cd-schedule__event">
<a data-start="09:00" data-end="09:20" data-event="event-4" >
<em class="cd-schedule__name">Opening Remarks</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="09:20" data-end="10:20" data-content="keynote-somesh"
data-event="event-5" >
<em class="cd-schedule__name">Keynote by Somesh Jha</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="10:20" data-end="10:40" data-event="event-3" >
<em class="cd-schedule__name">Break</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="10:40" data-end="12:00" data-content="session-a-1"
data-event="event-1" >
<em class="cd-schedule__name">Session #A - Privacy (part 1)</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="12:00" data-end="13:00" data-event="event-3" >
<em class="cd-schedule__name">Lunch</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="13:00" data-end="13:40" data-content="session-a-2"
data-event="event-1" >
<em class="cd-schedule__name">Session #A - Privacy (part 2)</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="13:40" data-end="15:20" data-content="session-f"
data-event="event-1" >
<em class="cd-schedule__name">Session #F - Collaborative Learning</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="15:20" data-end="15:40" data-event="event-3" >
<em class="cd-schedule__name">Break</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="15:40" data-end="17:00" data-content="session-poster-1"
data-event="event-2" >
<em class="cd-schedule__name">Poster session 1 (#A-#F-#G-#H)</em>
</a>
</li>


</ul>
</li>

<li class="cd-schedule__group">
<div class="cd-schedule__top-info"><span style="font-weight:
bold;">Wednesday, April 10 (Hart House)</span></div>

<ul>

<li class="cd-schedule__event" open-modal="true">
<a data-start="09:00" data-end="09:40" data-content="session-h"
data-event="event-1" >
<em class="cd-schedule__name">Session #H - Auditing</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="09:40" data-end="10:40" data-content="keynote-deborah"
data-event="event-5" >
<em class="cd-schedule__name">Keynote by Deborah Raji</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="10:40" data-end="11:00" data-event="event-3" >
<em class="cd-schedule__name">Break</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="11:00" data-end="12:00" data-content="session-g"
data-event="event-1" >
<em class="cd-schedule__name">Session #G - Patching</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="12:00" data-end="12:40" data-content="session-b"
data-event="event-1" >
<em class="cd-schedule__name">Session #B - Fairness</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="12:40" data-end="13:40" data-event="event-3" >
<em class="cd-schedule__name">Lunch</em>
</a>
</li>


<li class="cd-schedule__event" open-modal="true">
<a data-start="13:40" data-end="14:40" data-content="tutorial-yves"
data-event="event-5" >
<em class="cd-schedule__name">Tutorial by Yves-Alexandre de Montjoye</em>
</a>
</li>


<li class="cd-schedule__event" open-modal="true">
<a data-start="14:40" data-end="16:00" data-content="session-i"
data-event="event-1" >
<em class="cd-schedule__name">Session #I - Forensic Analysis of ML Systems</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="16:00" data-end="16:20" data-event="event-3" >
<em class="cd-schedule__name">Break</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="16:20" data-end="18:00" data-content="session-poster-2"
data-event="event-2" >
<em class="cd-schedule__name">Poster session 2 (#B-#C-#D-#E-#I)</em>
</a>
</li>

</ul>
</li>



<li class="cd-schedule__group">
<div class="cd-schedule__top-info"><span style="font-weight: bold;">Thursday,
April 11 (Innis College)</span></div>

<ul>

<li class="cd-schedule__event" open-modal="true">
<a data-start="09:00" data-end="10:00" data-content="session-c"
data-event="event-1" >
<em class="cd-schedule__name">Session #C - Verifying/Certifying Properties of ML
Systems</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="10:00" data-end="11:00" data-content="tutorial-tbc"
data-event="event-5" >
<em class="cd-schedule__name">Tutorial 2 (TBC)</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="11:00" data-end="11:20" data-event="event-3" >
<em class="cd-schedule__name">Break</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="11:20" data-end="12:20" data-content="session-e"
data-event="event-1" >
<em class="cd-schedule__name">Session #E - Inference-time Integrity (adversarial
examples, etc.)</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="12:20" data-end="13:20" data-event="event-3" >
<em class="cd-schedule__name">Lunch</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="13:20" data-end="15:20" data-content="session-d"
data-event="event-1" >
<em class="cd-schedule__name">Session #D - Training-time Integrity (backdoor
attacks, etc.)</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="15:20" data-end="15:40" data-event="event-3" >
<em class="cd-schedule__name">Break</em>
</a>
</li>

<li class="cd-schedule__event" open-modal="true">
<a data-start="15:40" data-end="17:00" data-content="session-competitions"
data-event="event-1" >
<em class="cd-schedule__name">Competitions track</em>
</a>
</li>

<li class="cd-schedule__event">
<a data-start="17:00" data-end="17:10" data-event="event-4" style="font-size: calc(var(--text-sm));">
<em class="cd-schedule__name">Closing Remarks</em>
</a>
</li>

</ul>
</li>


</ul>
</div>

<div class="cd-schedule-modal">
<header class="cd-schedule-modal__header">
<div class="cd-schedule-modal__content">
<span class="cd-schedule-modal__date"></span>
<h3 class="cd-schedule-modal__name"></h3>
</div>

<div class="cd-schedule-modal__header-bg"></div>
</header>

<div class="cd-schedule-modal__body">
<div class="cd-schedule-modal__event-info"></div>
<div class="cd-schedule-modal__body-bg"></div>
</div>

<a  class="cd-schedule-modal__close text-replace">Close</a>
</div>

<div class="cd-schedule__cover-layer"></div>
</div> <!-- .cd-schedule -->